body {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  min-height: 0;
  min-width: 0;
}

.list-item {
  padding: 0.5em 1.5em;
  contain: content;
  display: flex;
}

.count {
  margin-right: 0.5em;
  color: #9a9a9a;
  flex-shrink: 0;
}

#sentinel {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  contain: strict;
  pointer-events: none;
  z-index: -1;
}

.sentinel-container {
  position: relative;
}
