@import 'base';

#list {
  padding-left: 50px;
}

.list-item {
  padding: 10px;
}

#sentinel {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  contain: strict;
  pointer-events: none;
  z-index: -1;
}

.sentinel-container {
  position: relative;
}